<h1>Редактирование вопроса</h1>

<form action="/tests/<%= params[:test_id] %>/questions/<%= params[:id] %>" method="post">
<!-- добавляем скрытое поле для реализации PATCH метода в HTML форме -->
<!-- https://stackoverflow.com/questions/8054165/using-put-method-in-html-form -->
<input name="_method" type="hidden" value="patch" />
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="question[test_id]" value="<%= params[:test_id] %>">
<input type="hidden" name="question[id]" value="<%= params[:id] %>">

<p>
  <label for="question-body">Содержание вопроса:</label>
  <input type="text" name="question[body]" id="question-body" size="60" value="<%= Question.find(params[:id]).body %>">
</p>
<br>

<input type="submit" name="Update">

</form>
