<nav class="navbar navbar-admin">
  <h1><%= link_to t('layouts.application.project_name'), root_path, class: 'navbar-brand text-dark' %></h1>
  <span class="navbar-brand"><%= t('layouts.admin.panel') %></span>

  <div class="nav-admin user">
<p class="nav user"><%= t('layouts.application.greeting') %>,&nbsp;<b><%= show_user_name %></b>&nbsp;<%= t('layouts.application.guru') %>
   &nbsp;|&nbsp;<%= switch_language %>
   <% if not_gists_page? %>
   &nbsp;|&nbsp;<%= link_to 'Gists', admin_gists_path %>
   &nbsp;|&nbsp;<%= link_to 'Badges', admin_badges_path %>
   <% end %>
   &nbsp;|&nbsp;<%=  link_to t('layouts.application.logout'), destroy_user_session_path, method: :delete %>
  </div>
</nav>
