<h1>Тест '<%= @test_passage.test.title %>' завершен!</h1>
<div>
  Правильных ответов <%= @test_passage.correct_questions %> из <%= @test_passage.total_questions_in_test %><br>
  <% if @test_passage.passed? %>
    Процент правильных ответов: <mark class="success"><%= @test_passage.correct_questions_percentage %>%</mark><br>
    Тест успешно пройден!
  <% else %>
    Процент правильных ответов: <mark class="fail"><%= @test_passage.correct_questions_percentage %>%</mark><br>
    Тест не пройден :(
  <% end %>
</div>
<p><%= link_to 'Вернуться к списку тестов', tests_path %></p>
