<% if @badge.present? && @badge.errors.any? %>
  <%= content_tag :div, class: 'resource-errors' do %>
    <%= puts @badge.errors.count %>
    <%= t('.header', count: @badge.errors.count) %>:
    <ul>
      <% @badge.errors.full_messages.each do |err_message| %>
        <li><%= err_message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<% if @badge.badge_rules.first.present? && @badge.badge_rules.first.errors.any? %>
  <%= content_tag :div, class: 'resource-errors' do %>
    <%= puts @badge.badge_rules.first.errors.count %>
    <%= t('.header', count: @badge.badge_rules.first.errors.count) %>:
    <ul>
      <% @badge.badge_rules.first.errors.full_messages.each do |err_message| %>
        <li><%= err_message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
