<h3><%= test_header(t('.new_title', title: @test.title), t('.edit_title', title: @test.title)) %></h3>

<%= form_with model: [:admin, @test], local: true do |form| %>
<%= render 'shared/display_errors', resource: @test  %>
<div class="form-group">
<p>
  <%= form.label :title %><br>
  <%# при создании нового теста value будет пустым, при редактирование будет текущее значение %>
  <%= form.text_field :title, value: @test.title %>
</p>

<p>
  <%= form.label :level %><br>
  <%= form.number_field :level, value: @test.level %>
</p>

<p>
  <%= form.label :category_id %><br>
  <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: "custom-select" %>
</p>

<p>
  <%= form.label :time_limit %><br>
  <%= select_minute(timer_minutes) %> : <%= select_second(timer_seconds) %>
</p>

<p><%= form.submit class: "btn btn-primary" %></p>
<% end %>
<%= render 'back_link' %>
</div>
