<tr>
  <td><%= link_to test.title, admin_test_path(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.size %></td>
  <td><%= button_to t('.change'), edit_admin_test_path(test), class: "btn btn-success", method: :get %></td>
  <td><%= button_to t('.delete'), admin_test_path(test), class: "btn btn-danger", method: :delete, data: {confirm: t('.del_confirm', title: test.title)} %></td>
</tr>
