<p><%= t('.test') %>: <%= @test.title %></p>
  <% if !@questions.size.zero? %>
  <p><%= create_new_question_link(t('.new_question')) %></p>
    <p><%= t('.questions') %></p>
    <table class="table table-striped">
      <%= render @questions %>
      <% #= render partial: 'questions/question', collection: @questions %>
    </table>
  <% else %>
    <p><%= t('.empty') %></p>
    <p><%= create_new_question_link(t('.new_question')) %></p>
  <% end %>
<p><%= link_to t('.back'), admin_tests_path %></p>
