<p>Тест: <%= @test.title %></p>
  <% if !@questions.size.zero? %>
  <p><%= create_new_question_link %></p>
    <p>Вопросы теста:</p>
    <table>
      <%= render @questions %>
      <% #= render partial: 'questions/question', collection: @questions %>
    </table>
  <% else %>
    <p>Пока в этот тесте нет вопросов</p>
    <p><%= create_new_question_link %></p>
  <% end %>
<p><%= link_to 'Назад', admin_tests_path %></p>
