<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.panel') %> |<%= t('layouts.application.project_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to t('layouts.application.project_name'), root_path %></h1>
    <%= render 'admin/nav' %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
