<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'Проект TestGuru', root_path %></h1>
    <% if user_signed_in? %>
      <p class="nav user">Welcome, <b><%= show_user_name %></b> Guru
        <% if current_user.admin? %>
        | <%= link_to 'Админка', admin_tests_path %>
       <% end %>
        | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
    <p class="nav user"><%= link_to 'Войти', new_user_session_path %> |  <%= link_to 'Регистрация', new_user_registration_path %></p>
    <% end %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
