<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.project_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to t('.project_name'), root_path %></h1>
    <% if user_signed_in? %>
      <p class="nav user"><%= t('.greeting') %>, <b><%= show_user_name %></b> <%= t('.guru') %>
        <% if current_user.admin? %>
        | <%= link_to t('layouts.admin.panel'), admin_tests_path %>
       <% end %>
        | <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
    <p class="nav user"><%= link_to t('.login'), new_user_session_path %> |  <%= link_to t('.register'), new_user_registration_path %></p>
    <% end %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
