<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'Проект TestGuru', root_path %></h1>
    <% if logged_in? %>
      <p class="nav user">Welcome, <b><%= current_user.name %></b> Guru
        | <%= link_to 'Выйти', logout_path %>
      </p>
    <% else %>
    <p class="nav user"><%= link_to 'Войти', login_path %> |  <%= link_to 'Регистрация', signup_path %></p>
    <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
